@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", "Calibri";
}

@layer components{
  .navLink{
    @apply text-lg text-gray-900 cursor-pointer hover:border-primary-600 border-b-2 hover:bg-gradient-to-t hover:from-primary-100 hover:to-transparent pb-1 border-transparent transition-all duration-200 ease-in-out;
  }
  .navLink2{
    @apply text-lg border-b border-gray-400 w-full hover:font-bold transition-all duration-100 ease-linear;
  }
}
.cross div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.cross div:nth-child(2) {
  opacity: 0;
}

.cross div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}